/*** Colors ***/
/* ACCENT #D93250 */
/* PRIMARY #0468BF */
/* LIGHT #0582f0 */
/* OFF-TONE #44BFBF */
/* NEUTRAL #F2F2F2 */

/*** Whiteframes ***/
.whiteframe-shadow-1dp { box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-2dp { box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-3dp { box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-4dp { box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-5dp { box-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-6dp { box-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-7dp { box-shadow:0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-8dp { box-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-9dp { box-shadow:0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-10dp { box-shadow:0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-11dp { box-shadow:0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-12dp { box-shadow:0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-13dp { box-shadow:0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-14dp { box-shadow:0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-15dp { box-shadow:0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-16dp { box-shadow:0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-17dp { box-shadow:0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-18dp { box-shadow:0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-19dp { box-shadow:0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-20dp { box-shadow:0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-21dp { box-shadow:0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-22dp { box-shadow:0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-23dp { box-shadow:0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12) }
.whiteframe-shadow-24dp { box-shadow:0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) }


/*** Global Styles ***/

html, body {
  height:100%;
  width:100%;
  margin:0;
  font-family: Helvetica Neue, sans-serif;
  position:relative;
  z-index:-1;
}

body {
/*  max-width:450px;
  max-height:750px;*/
  position: absolute;
  top:0;
  bottom:0;
}

header {
  display:flex;
  /*justify-content:space-between;*/
  align-items:center;
  position:absolute;
  top:0;
  height:50px;
  width:100%;
  background:#0468BF;
  color:#fff;
  z-index:1;
}

header > * {
	flex:0 0 25%;
}

header h3 {
	margin:0;
	font-size:16px;
	text-align: center;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	flex:0 0 50%;
}

header > .btn {
	color:#fff;
	text-align: left;
}

header > .btn:last-child {
  text-align: right;
}

header > .btn:hover {
  color:#fff;
}

button[disabled] {
  background: #aaa !important;
}

main {
  position:absolute;
  top:50px;
  bottom:50px;
  width:100%;
  text-align:center;
  overflow:hidden;
  background-color:#F5F5F5;
  z-index:-1;
}

main.scroll {
  overflow-y:auto;
}

main .alert {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  box-shadow: 0 0 2px #00000030;
  border: none;
  border-radius: 0;
  text-align: center;
}

nav {
  position:absolute;
  bottom:0;
  height:50px;
  width:100%;
  z-index:1;
  box-shadow: 0px 0px 8px #33333355;
}

nav > ul {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  list-style: none;
  display:flex;
  align-items:stretch;
  overflow:hidden;
}

nav > ul > li {
  flex-basis: 25%;
  text-align: center;
}

nav > ul > li > a.active {
	color:#fff;
  	background:#0468BF;
}

nav > ul > li > a {
  padding:0;
  padding-top:10px;
    display: block;
    height: 100%;
    text-decoration:none;
    color:#0468BF;
    font-size:13px;
}

nav > ul > li > a > i {
  display:block;
  width:100%;
}

.sample-msg {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}

a {
  color:#000;
  text-decoration: none;
}

a:focus, a:hover {
	text-decoration: none;
}

a.btn {
    text-decoration: none;
    padding: 6px 12px;
    display: block;
    font-weight: bold;
    min-width:40px;
}

.btn-outline {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius:10px;
    border: 1px solid #222;
    min-width:40px;
    text-align: center;
}

a.btn-highlight {
  color: #fff;
  background:#222;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    border-radius:10px;
    min-width:40px;
    text-align: center;
}

.btn-full {
  width:100%;
}

input {
  font-size: 14px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #777;
}

select {
  font-size: 18px;
    font-weight: bold;
}

label {
  font-size: 14px;
  font-style: italic;
  color:#777;
}

.empty-msg {
    margin: 0 auto;
    text-align: center;
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    color: #ccc;
}

.search-bar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
}

.search-bar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
}

.search-bar::-ms-input-placeholder { /* Microsoft Edge */
    color: #666;
}

.search-bar {
	font-family: FontAwesome, sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid #666;
    border-radius: 15px;
    /*box-shadow: 1px 1px 1px #aaa;*/
    background:#F2F2F2;
    height:35px;
}

.search-bar:focus {
	outline:none;
	border-color:#0468BF;
	border-color:#E91E63;
	color: #E91E63;
	/*background:#fff;*/
}

.search-bar:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #E91E63;
}

.search-bar:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E91E63;
}

.search-bar:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #E91E63;
}

.search-bar:focus + button {
	color:#0468BF;
	color:#E91E63;
}


.search-toggle {
	padding:7px 0;
}

.media-row-title .search-bar {
	margin:3px 0;
	flex-grow: 1;
}


.tile-column {
    display: inline-flex;
    flex-direction:column;
    width: 33%;
    float: left;
    margin-top:10px;
}

.tile {
  width:100%;
  display:block;
  padding: 2% 4%;
  box-sizing:border-box;
  position: relative;
}

.tile > img {
  width:100%;
  height:auto;
    border:1px solid #eee;
}

.tile > h4 {
    position: absolute;
    font-size: 10px;
    color: #fff;
    bottom: 2%;
    padding: 2px 5px;
    text-align: left;
    background: #00000091;
    display: block;
    width: 92%;
    margin: 0 1px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Global Styles End */

/*** Add page-specific styles Here ***/

/*** HOME ***/
.media-row-title {
    margin:15px 0 10px;
    text-align: left;
    padding: 0 15px;
    font-size: 25px;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    max-height:40px;
    color:#0582f0;
    color:#0468BF;
     color:#E91E63;
    /*text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

.media-row-title button {
	padding:0;
  margin: 0;
  border: none;
  background: transparent;
  min-width:35px;
}

.media-row-title i.fa-close {
	padding:7px 0 7px 15px;
	font-size: 25px;
}

.media-row-title > a {
  text-decoration:none;
  padding:7px 0;
}

.media-row-title > a:last-child {
  color: #0582f0;
  color:#E91E63;
  margin-left: auto;

}

.media-row {
  height:165px;
  overflow-y:hidden;
  overflow-x:auto;
  display: flex;
  padding-bottom:15px;
  padding-right:15px;
}

.media-row.small {
  height:120px;
}

.media-gallery {
	margin-top:10px;
	margin-bottom:15px;
}

.media-gallery .search-bar {
	width:90%;
	margin:10px 0 5px;
}

.media-gallery .container {
	margin-top:10px;
}

.media-gallery .col-xs-4 {
	padding-left:5px;
	padding-right:5px;
}

figure.media {
	 position: relative;

  	padding: 0;
  	height:100%;
  	flex:0 0 120px;
  	overflow:hidden;
  	max-width:120px;
  	/*box-shadow:-4px 0px 6px #00000090;*/
}

.media-row figure.media {
  margin:0 15px;
}

.media-row.small figure.media {
      flex:0 0 80px;
      margin:0 10px;
}

/** BOOK STATUS **/
.my-books figure.media.requested-pickup-notset > a::after,
.my-books figure.media.borrowed-return-pending > a::after,
.borrowed-books figure.media.requested-pickup-pending > a::after  {
    content: '\f071 Action Needed';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    color: #fff;
    background-color: darkred;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 3px 0;
    box-shadow: 0 1px #00000030;
}

.my-books figure.media.requested-pickup-notset > a::before,
.my-books figure.media.borrowed-return-pending > a::before,
.borrowed-books figure.media.requested-pickup-pending > a::before  {
  content:'';
  position: absolute;
  background-color: #f443369c; /* Red - Action Required */
  width:100%;
  height:100%;
  z-index:1;
}

.my-books figure.media.requested-pickup-pending > a::after,
.borrowed-books figure.media.requested-pickup-notset > a::after,
.borrowed-books figure.media.borrowed-return-pending > a::after {
    content: '\f021 Pending';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    color: #fff;
    background-color: darkorange;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 3px 0;
    box-shadow: 0 1px #00000030;
}

.my-books figure.media.requested-pickup-pending  > a::before,
.borrowed-books figure.media.requested-pickup-notset > a::before,
.borrowed-books figure.media.borrowed-return-pending > a::before {
  content:'Pending';
  position: absolute;
  background-color: #ffc107ad; /* Yellow - Waiting for other Party */
  width:100%;
  height:100%;
  z-index:1;
}

.my-books figure.media.requested-pickup-confirmed > a::after,
.my-books figure.media.borrowed-return-confirmed > a::after,
.borrowed-books figure.media.requested-pickup-confirmed > a::after,
.borrowed-books figure.media.borrowed-return-confirmed > a::after {

    content: '\f00C Confirmed';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    color: #fff;
    background-color: darkgreen;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 3px 0;
    box-shadow: 0 1px #00000030;
}

.my-books figure.media.requested-pickup-confirmed > a::before,
.my-books figure.media.borrowed-return-confirmed > a::before,
.borrowed-books figure.media.requested-pickup-confirmed > a::before,
.borrowed-books figure.media.borrowed-return-confirmed > a::before {
  content:'';
  position: absolute;
  background-color: #8bc34a9c; /* Green - Waiting Exchange */
  width:100%;
  height:100%;
  z-index:1;
}

.my-books figure.media.borrowed-return-notset > a::after {
    content: 'Lent';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    color: #fff;
    background-color: #777;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 3px 0;
    box-shadow: 0 1px #00000030;
}

.my-books figure.media.borrowed-return-notset > a img,
.my-books figure.media.borrowed-return-notset > a .figcaption-bg {
  opacity:0.3;
}

figure.media > a img {
  margin:0;
  height:auto;
  width:100%;
  max-width: 120px;
  min-height:100%;
}

.media-row.small > figure > a img {
  height:100%;
  margin:0;
}

figure.media > a .figcaption-bg {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	min-height: 20%;
    white-space: nowrap;
    max-width: 125px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    display: block;
    padding-top: 5px;
    font-size:14px;
	background-size:100% auto;
	background-position: center bottom;
	color:transparent;
	filter:blur(3px) grayscale(10%);
}

figure.media > a figcaption {
    height: auto;
	width: 100%;
    min-height: 20%;
    white-space: nowrap;
    max-width:none;
    overflow: hidden;
    font-weight: bold;
    text-align: left;
    text-overflow: ellipsis;
    display: block;
    padding: 8px 5px;
    background: #00000060;
    background: #888888e6;
    background:transparent;
    font-size:14px;
    /*box-shadow: 0px -1px 4px #00000030;*/
    text-shadow:1px 1px 5px #00000090;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    z-index:2;

}

/*** ADD BOOK ***/

main.addbook {
  width:90%;
  padding: 15px 5%;
  text-align: left;
}

.add-book input {
  font-size: 14px !important;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #777;
  margin-bottom:15px;
  max-width:60%;
  background:transparent;
}

.add-book img {
  float:left;
  margin-right:15px;
  margin-bottom: 15px;
}

.add-book .label-description {
  width:100%;
  margin-bottom:0;
  margin-top:15px;
}

.add-book textarea {
  margin-top:15px;
  padding:15px;
  width:100%;
  height:auto;
  min-height:200px;
  background:transparent;
  border:1px solid;
}

.scan-book {
  background-image:url(/img/camera-scan.jpg);
  background-size: cover;
  background-position: center center;
}

/*** ADD COMMUNITY ***/

main.addcommunity {
  width:90%;
  padding: 15px 5%;
  text-align: left;
}

.addcommunity .btn-full {
  width:90%;
  position: absolute;
  bottom:0;
  padding-left: 0;
    padding-right: 0;
}


h3.addcommunity {
  width:56%;
}

form.communityform {
  padding-top:100px;
  margin-left:50px;
}

p.rectbtncomm {
  margin-left: 315px;
  margin-top: -42px;
}

/*** NOTIFICATIONS ***/


.books-alert {
    padding: 20px;
    padding-top: 115px;

}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.media-row.small > figure > a figcaption,
.media-row.small > figure > a .figcaption-bg {
  display: none;
}


/*** COMMUNITY ***/
.community-details .description-row {
    position: relative;
    padding: 15px;
    color: #fff;
    background-size: cover;
    min-height: 100px;
    background-position: center center;
    z-index:-1;
}

.community-details .description-row::before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #00000050;
  z-index:-1;
}

.community-details .title {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    text-shadow:2px 2px 2px #00000020;
}


.list-description {
  background-color:#444;
  padding:0;
  list-style:none;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  width:100%;
  color:#fff;
  padding:10px 0;
  margin:0;
  margin-bottom:10px;
  
}

.list-description > li {
  position:relative;
  z-index:2;
  font-size:16px;
  text-shadow:2px 2px 2px #00000020;
}

.list-description > li.description {
  padding:10px 0 0;
  text-align: left;
  font-style: italic;
  text-indent: 15px;
  font-weight:200;
  font-size:12px;
}

.books {
  display:flex;
  background:#eee;
  overflow-x:auto;
  height:200px;
/*  transform:rotate(-90deg);*/
  /*trasform-origin:50% 50%;*/
}

.books a {
  margin:0 1px;
  padding:10px 2px;
  font-size:12px;
  position: relative;
  display:block;
  width:auto;
  transform: rotate(-90deg);
  transform-origin:bottom right;
    min-width: 126px;
    max-height:100px;
    height: auto;
}

.books p {
  margin:0;
}


.books a:nth-child(n) {
  background-color: #444;
  border-top:2px solid #333;
  border-bottom:2px solid #555; 
  color:#eee;
  font-weight: 200;
}

.books a:nth-child(2n) {
  background-color: #666;
  border-top:2px solid #555;
  border-bottom:2px solid #555;
  font-style: italic; 
}

.books a:nth-child(3n) {
  background-color: #999;
  border-top:2px solid #888;
  border-bottom:2px solid #888;
  font-weight: bold; 
}


.events-list {
  border-left: 1px solid #ccc;
  padding:0 5px 5px 15px;
  margin-top:20px;
  margin-left: 20px;
  list-style: none;
}

.events-list .event-details {
  text-align: left;
  padding-right: 60px;
}


.events-list .event-details > span:first-child {
  font-weight:600;
  font-size:18px;
  color:#555;
}

.events-list .event-details > span:last-child {
  font-size:12px;
  color:#aaa;
  font-style:italic;
  line-height:10px;
}

.events-list > li.event {
  padding:20px 10px;
  margin:0;
  position: relative;
  min-height:80px;
}

.events-list > li.event::before {
    content: '\f111';
    font-family: FontAwesome;
    position: absolute;
    left: -22px;
    top: 22px;
    color: #D93250;
    font-size: 14px;
    /*transform: translateY(-50%);*/
}

.events-list > li.event p {
  margin:0;
}

.events-list .title {
  padding:0 10px 10px;
}

.events-list .title > h3 {
  margin:0;
  padding:0;
}

.events-list .event-time {
  text-align: right;
  top: 20px;
  position: absolute;
  right: 10px;
  /*transform: translateY(-50%);*/
  color:#D93250/*#0582f0*/;
}

.new-event {
  position:relative;
  padding:20px 0;
  margin-bottom: -60px;
}

.events-list > li.new-event::before {
    content: '\f067';
    font-family: FontAwesome;
    position: absolute;
    left: -23px;
    top: 50%;
    color: #D93250;
    font-size: 20px;
    transform: translateY(-50%);
}

.add-event {
  font-size: 18px;
  color: #da324f;
  text-align: left;
}

.bookshelf p:nth-child(4n) {
  left:4px;
}



.bookshelf {
  display:flex;
  flex-direction:column-reverse;
  width:33%;
  background:#eee;
  border-right:1px solid #ddd;
  overflow-y:auto;
  padding:0 10px;
  position: absolute;
    bottom: 0;
    top: 120px;
    right:0;
    display:none;
}

.bookshelf p {
  margin:1px 0;
  padding:2px 10px;
  font-size:12px;
  width:auto;
  position: relative;
}

.bookshelf p:nth-child(n) {
  background-color: #444;
  border-top:2px solid #333;
  border-bottom:2px solid #555; 
  color:#eee;
  left:-6px;
  font-weight: 200;
}

.bookshelf p:nth-child(2n) {
  background-color: #666;
  border-top:2px solid #555;
  border-bottom:2px solid #555;
  font-style: italic;
  left:8px;  
}

.bookshelf p:nth-child(3n) {
  background-color: #999;
  border-top:2px solid #888;
  border-bottom:2px solid #888;
  font-weight: bold;
  left:-3px;  
}

.bookshelf p:nth-child(4n) {
  left:4px;
}

.bookshelf p.empty {
  background: transparent;
  border: 15px solid #F2F2F2;
}

.events {
  padding:0 15px;
}

.events h3 {
  text-align: left;
}

.events ul {
  list-style:none;
  padding:0 0 0 5px;
  margin-top:0;
  text-align: left;
}

.events li {
    margin-bottom: 8px;
    font-size: 14px;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: 6px;
    display:flex;
}

.events strong {
    display: inline-block;
    flex-basis:33%;
    background: #888;
    padding: 9px 10px;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.events span {
    padding: 9px 10px;
    display:inline-block;
    flex-basis:66%;
}

.fiction-bg::before {
  content:'';
  width:100%;
  height:100%;
  background:red;
  position:absolute;
  top:0;
  left:0;
  z-index: 1;
  opacity:0.5;
}

/* PROFILE */
.profile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding:15px 30px;
  color:#0468BF;
  /*color:#0582f0;*/
  background:#fff;
  min-height: 100px;
}


.profile-row > i:first-child {
  float:left;
}

.profile-row > h4 {
  font-size: 20px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 15px;
}

.profile-row > img {
	width: 70px;
    height: 70px;
    border-radius: 100%;
    /*border:1px solid #0468BF;*/
    float:left;
}

.stats {
  text-align:right;
  font-size:16px;
}

/* BOOK DETAILS */
.book-details,
.add-book {
	padding:15px;
	/*color:#0468BF;*/
	text-align: left;
}

.book-details .title,
.add-book .title {
  font-size: 20px;
  font-weight: bold;
  margin-top:0;
}

.availability {
  color:#666;
  font-style: italic;
}

.availability > span {
	color:#0582f0;
  font-weight: bold;
  font-style: normal;
}

.book-details .description {
  margin-top:80px;
  font-style: italic;
  color:#444;
  text-indent:35px;
  font-size:14px;
}

.book-details img,
.add-book img {
	max-width:30%;
	float:left;
	margin:0 15px 15px 0;
}

.book-details .btn-r,
.add-book .btn-r {
  width:100%;
  /*position: absolute;*/
  /*bottom:16px;*/
  padding-left: 0;
  padding-right: 0;
  border:none;
  background-color: #D93250;
  color:#fff;
  margin-top:30px;
}

/* USER LIST */
.users {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow:0 1px 1px #00000020 ;
}

.users > li {
  display: flex;
    justify-content: space-between;
    padding:5px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}


.users > li > span {
  padding:10px 0;
  color:#555;
}

.users > li > .btn {
  text-align: right;
  color:#0468BF;
}

.users > li > :nth-child(1) { font-weight:bold; flex:0 0 25%; }
.users > li > :nth-child(2) { flex:0 0 15%; }
.users > li > :nth-child(3) { flex:0 0 25%; }
.users > li > :nth-child(4) { flex:0 0 35%; }

.request-book .condition {
  font-style: italic;
}

/* LOGIN PAGE */
.login-form {
	position: absolute;
	display:block;
	bottom:0;
	left:50%;
	width:90%;
	max-width: 300px;
    transform: translate(-50%, 0);
    margin-bottom: 30px;
}

.login-page .accent { 
	color:#D93250;
	font-weight: bold;
}


.login-form .alert {
	text-align: center;
	border:none;
	border-radius:0;
	padding:10px 15px;
}

.login-form label {
	font-weight: 200;
	display:none;
}

.login-page h2 {
	text-align: right;
	font-family: Helvetica Neue;
	font-weight:400;
	color: #0468BF;
	margin: 30px auto 0;
	font-size: 38px;
	line-height: 50px;
	width:95%;
	max-width: 300px;

}

.login-form input {
	margin:0 0 10px;
	border-radius:0;
	border:none;
	font-size:18px;
	height:45px;
	text-align:center;
	color:#0468BF;
}

.login-form input[type=text] {
	margin-bottom: 0;
	border-bottom:1px solid #0468BF;
}

.login-form input[type=password] {
	margin-bottom:30px;
}

.login-form input[type=text], .login-form input[type=password] {
	background:transparent;
	font-family: FontAwesome, Helvetica, sans-serif;
	box-shadow:none;
}

.login-form input[type=submit] {
	width:100%;
	background-color: #0468BF /*#D93250*/ ;
	color:#fff;
	border-radius: 5px;
}

.modal-dialog {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

.modal-content {
  background-color:rgba(255, 255, 255, 0.98);
  border-radius: 0;
  border:none;
}

.modal-content .fa-close {
  float:right;
}

.modal-header {
  border:none;
}

.notifications-list > li {
  margin:8px 0;
  color:#D93250;
}
